{% extends 'base.html' %}
{% block app_content %}
<div class="container-fluid my-4">
    <div class="row align-items-start">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Statistics</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-center p-3">
                                <h4>Registered Users</h4>

                                <h3><span class="badge bg-primary rounded-pill">{{ count_users }}</span></h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center p-3">
                                <h4>Total Orders</h4>
                                <h3><span class="badge bg-primary rounded-pill">{{ count_orders }}</span></h3>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center p-3">
                                <h4>All Products <i class="fa-thin fa-users"></i></h4>
                                <h3><span class="badge bg-primary rounded-pill">{{ count_products }}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}