{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - TrackWise{% else %}Welcome to TrackWise{% endif %}
{% endblock %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


{{ super() }}
{% endblock%}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.index') }}">TrackWise</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('main.login') }}">Login</a></li>
              <li><a href="{{ url_for('main.register') }}">Sign Up</a></li>
          </ul>
      </div>
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
       
    </div>

     <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1  id='header'data-aos="fade-up">We offer comprehension Inventory management System</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">System designed to streamline and optimize your inventory operations</h2>
          <div data-aos="fade-up" data-aos-delay="600">
          </div>
        </div>
        <div class="col-lg-5 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static', filename='img/hero-img.png')}}" class="img-thumbnail" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>TrackWise, you can effortlessly track, manage, and control your inventory, ensuring smooth and efficient business operations.</h2>
              <p>
                Our user-friendly interface and robust features empower you to take control of your inventory management process. From tracking stock levels to monitoring inventory movement, 
                TrackWise provides you with real-time visibility into your inventory data
              </p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{{ url_for('static', filename='img/about.png')}}" class="img-fluid" alt="Responsive image">
          </div>

        </div>
      </div>

       <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Features</h2>
            <p></p>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Inventory Tracking</h3>
                <p>Easily track your inventory quantities, locations, and movements across multiple warehouses or storage facilities.</p>
                
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Real-time Updates</h3>
                <p>Get instant updates on stock levels, low inventory alerts, and replenishment reminders, ensuring you never run out of essential items.</p>
                
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>Purchase Order Management</h3>
                <p>Create, track, and manage purchase orders, ensuring timely procurement and minimizing stockouts.</p>
                
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-box red">
                <i class="ri-discuss-line icon"></i>
                <h3>Barcode Scanning</h3>
                <p>fortlessly manage inventory using barcode scanning technology, ensuring accurate and efficient inventory control.</p>
                <p>Coming Soon!</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="service-box purple">
                <i class="ri-discuss-line icon"></i>
                <h3>Reporting and Analytics</h3>
                <p>Gain valuable insights into your inventory performance with customizable reports and analytics, allowing you to identify trends, optimize stock levels, and make informed decisions.</p>
                
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
              <div class="service-box pink">
                <i class="ri-discuss-line icon"></i>
                <h3>Integration Capabilities</h3>
                <p>Seamlessly integration with other business systems/platforms, and shipping providers for a cohesiveworkflow.</p>
                <p>Coming Soon!</p>
              </div>
            </div>
  
          </div>
  
        </div>
  

      
    </main>


    <div class="bg-light">
        <footer class="py-3 my-4">
          <p class="text-center text-muted">&copy; 2023 TrackWise App, Inc.</p>
        </footer>
    </div>
    
{% endblock %}
